.pay-module-desktop-rtl {
    background-color: white;
    width: 900px;
    margin: 0 auto;
	border-bottom: 1px solid #d2d3d5;
 }

.pay-module-desktop-rtl .container {
    padding: 30px;
}

.pay-module-desktop-rtl .pay-image{
	
	padding-right: 38%;
}

.pay-module-desktop-rtl .title {
    height: auto;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    padding-bottom: 5px;
	text-align: center;
	color: black;
}


.pay-module-desktop-rtl  .i-visa{
	color: blueviolet;

    font-size: 7rem;

	 margin-right: 43%;

}

.pay-module-desktop-rtl .date {
    width: 205px;
    height: 24px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6d7278;
}


.pay-module-desktop-rtl .info-title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #b2b2b2;
    padding-bottom: 4px;
}


.pay-module-desktop-rtl .info-text {
    font-size: 18px;
    line-height: 1.14;
    color: #0b7ffd;
    padding-bottom: 20px;
}

.pay-module-desktop-rtl .info-regular {
    font-size: 18px;
    line-height: 1.14;
    
    padding-bottom: 20px;
	    margin-left: -3px;
}

.pay-module-desktop-rtl .info-text > a{
    font-size: 18px;
    line-height: 1.14;
    color: #0b7ffd;
    padding-bottom: 20px;
}


.pay-module-desktop-rtl .working-hours {
    font-size: 18px;
    line-height: 1.78;
    color: #333d48;
    margin-left: -3px;
}

.pay-module-desktop-rtl .description {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2c2c2c;
    white-space: pre-line;
}

.pay-module-desktop-rtl .hashtag {
    width: 147px;
    height: 26px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #0b7ffd;
    font-size: 16px;
    color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
}


.pay-module-desktop-rtl .location-link a {
    color: blue;
  }

  .pay-module-desktop-rtl .business-closed{
      color: red;
  }
 